[Unit]
Description=Monitor BrooklynBowl Kiosk API and disk

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
AccuracySec=30s

[Install]
WantedBy=timers.target
